{% for recipient, aliases in groups %}
<h2>{{recipient}}</h2>
<ul>
  <li>
    <form id="todoForm" hx-post="/recipients/{{recipient}}" hx-target="#recipients" hx-trigger="submit">
      <input autocomplete="off" autocorrect="off" autocapitalize="off" type="text" name="prefix" placeholder="Write your user alias here...">
    </form>
  </li>
  {% for alias in sorted(aliases) %}
  <li>
    <span>{{alias}}</span>
    <button hx-delete="/recipients/{{recipient}}/{{alias}}" hx-target="#recipients">X</button>
  </li>
  {% endfor %}
</ul>
{% endfor %}
